.order-map-remove-item{
    animation:slideRemove 1000ms ease-out;
    ;
}

@keyframes slideRemove{
    0%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(200vw);
    }
}

.order-footer-isSelected{
    position: relative;
    background: gray;
    box-sizing: content-box;
    padding-left: 5px;
    padding-right: 5px;
    transform: scale(1.2);
    
}
.order-footer-isSelected::after{
    content: '';
    position: absolute;
    bottom: 0;
    right:100%;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    background: transparent;
    box-shadow: 9px 9px 0px 0px gray;
    z-index: -5;
}

.order-footer-isSelected::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    bottom:0;
    left:100%;
    border-radius: 100%;
    box-shadow: -9px 9px 0px 0px gray;
    z-index: -5;
}

.order-footer-arrow-up {
    animation: slideUp 1000ms forwards ease-out;
}

@keyframes slideUp {
    0% {
        bottom: 0%;
        transform: rotate(0deg);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        right: 0%;
    }
    100% {
        background: gray;
        transform: rotate(180deg);
        bottom: 60%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        right: 20%;
    }
}


.order-footer-arrow-down{
    position: relative;
    animation: slideDown 1000ms forwards ease-out;
}

@keyframes slideDown {
    0%{ 
        bottom: 60%;
        right: 20%;
        transform: rotate(180deg);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    100%{
        
        bottom: 0%;
        right: 0%;
        transform: rotate(0deg);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

