@tailwind base;
@tailwind components;
@tailwind utilities;


 *{
  box-sizing: border-box;
  padding: 0% ;
  color: black;
  margin: 0px;
 }
 
 html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  body{
    margin-top: 64px;
  }
  
  dialog{
    margin:auto;
    padding:20px;
  }


  ::backdrop{
    background: rgb(0, 0, 0,.3);
  }

 